:root{
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
}
body{
  margin: 0;
}
main{
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 50px 0;
  box-sizing: border-box;
}
h1{
  font-family: "Big Shoulders Display";
  text-transform: uppercase;;
}
.card p{
  color: hsla(0, 0%, 100%, 0.75);
}
.cards_container{
  font-family: "Lexend Deca";
  display: flex;
  width: clamp(20em, 90%, 56em);
  border-radius: 10px;
  overflow: hidden;
}
.card{
  flex: 1;
  padding: 2rem 3rem;
  box-sizing: border-box;
  color: white;
  min-width: 18em;
}
.card h1{
  font-size: 2.5rem;
}
.card p{
  color: rgba(255, 255, 255, 0.75);
  max-width:18ch;
  margin-bottom: 3rem;
}
.card button{
  padding: 15px 25px;
  color: black;
  mix-blend-mode: screen;
  background-color: #fff;
  border-color: transparent;
  border-radius: 30px;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 1em;
}
.card button:hover{
  color: white;
  background-color: transparent;
  border-color: white;
}
.card:first-child{
  background-color: var(--Bright-orange);
}
.card:nth-child(2){
  background-color: var(--Dark-cyan);
}
.card:last-child{
  background-color: var(--Very-dark-cyan);
}
@media screen and (max-width: 60em) {
  .cards_container{
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .card{
    min-width: unset;
    max-width: 18em;
  }
}
@media screen and (max-width: 25em) {
  .card{
    width: 100%;
  }
  .card p{
    width: unset;
    max-lines: unset;
  }
}